section {
  display: flex;
  width: 600px; 
  height: auto; 
  flex-wrap: wrap; 
  gap: 10px; 
}

section img {
  width: calc(50% - 5px); 
  height: auto; 
  object-fit: cover; 
  opacity: 0.8;
}


section img:hover {
  opacity: 1;

}

footer button {
  background-color: #9faef9;
  color: white;
  border: none;
  padding: 0.7em 1.8em;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
}

footer button:hover {
  background-color: #8880d5;
}

.button-lines {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.button-line-1 {
  height: 0.2em;
  width: 4em;
  border-radius: 10em;
  display: inline-block;
}

.button-line-2 {
  height: 0.2em;
  width: 3em;
  border-radius: 10em;
  display: inline-block;
}
