section{
    display: flex;
    width: 600px;
    height: 430px;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
body{
    background: #25576c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #16485d, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #69b9d3, #030607); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
footer button {
    background-color: #9faef9;
    color: white;
    border: none;
    padding: 0.7em 1.8em;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  footer button:hover {
    background-color: #8880d5;
  }

  .button-container {
    --background: #fefbff;
    --inner-shadow: #9faef9;
    --inner-outline: #34217d;
    --inner-outline-bottom: #fafcfe;
    --inner-outline-middle: #8880d5;
    --inner-outline-outer-top: #fefcff;
    --inner-outline-outer-bottom-1: #29107b;
    --line-1: #8676c9;
    --line-2: #5c69ca;
    position: relative;
    background: var(--background);
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    padding: 0.7em 1.8em;
    border-radius: 5px;
    box-shadow: inset 0px 1px 8px 1px var(--inner-shadow),
      0px 2px 0px 0px var(--inner-outline-bottom),
      0px -2px 0px 0px var(--inner-outline),
      -2px -2px 0px 0px var(--inner-outline),
      2px -2px 0px 0px var(--inner-outline),
      0px 0px 0px 6px var(--inner-outline-middle),
      0px -2px 0px 7px var(--inner-outline-outer-top),
      0px 4px 0px 7px var(--inner-outline-outer-bottom-1);
  }
  
  .button-lines {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
  }
  
  .button-line-1 {
    height: 0.2em;
    width: 4em;
    border-radius: 10em;
    display: inline-block;
    background: var(--line-1);
  }
  
  .button-line-2 {
    height: 0.2em;
    width: 3em;
    border-radius: 10em;
    display: inline-block;
    background: var(--line-2);
  }